[submodule "epsf"]
	path = epsf
	url = https://github.com/MachoThemes/epsilon-framework.git
[submodule "ltest/epsilon-framework"]
	path = ltest/epsilon-framework
	url = https://github.com/MachoThemes/epsilon-framework.git
